<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
  <parameter name="email" value="akshathasa19@gmail.com"></parameter>
  <parameter name="password" value="Akshu19!"></parameter>
    <classes>
      
     
      <class name="com.blick.test.BlickSignInTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
